---
---

@import "bootstrap";
@import "font-awesome";
@import "syntax";

pre {
    border: 1px #ddd solid;
    border-radius: 0;
    overflow-x: auto;
    background: transparent;
    line-height: 1.2;
}

pre code {
    white-space: pre;
    word-wrap: normal;
}

code {
    font-family: "monospace";
    color: #000;
    font-size: 9pt;
}

html, body {
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 12pt;
}

article p {
    line-height: 1.25;
    font-size: 11.5pt;
}

body {
    background: #fff;
    padding-bottom: 2rem;
}

iframe[src*="youtube"] {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

.video-js {
    width: 100% !important;
    height: 0px !important;
    padding-top: 62.5%;
}

.asciicast iframe {
    margin: 0 auto !important;
    display: block !important;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a {
    color: blue;
    text-decoration: underline;
}

h1 {
    padding-top: 0;
    font-size: 16pt;
}

h1, h2, h3, h4, h5 {
    text-align: left;
}

h1 small {
    font-size: 14pt;
}

.footnotes::before {
    content: "References:";
}

.footnotes {
    color: #444;
    font-size: 8pt;
    margin-top: 50px;
}

.footnotes a {
    color: #444;
}

blockquote {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 0;
    border-left: 4px #aaa solid;
    font-size: 11pt;
    color: #666;
}

.sidebar {
    padding-top: 20px;
}

.sidebar, .sidebar a {
    color: #444;
}

.sidebar a {
    text-decoration: underline;
}

.sidebar h3 {
    font-size: 14pt;
    margin-top: 40px;
}

.sidebar h4, h5 {
    margin: 5px 0;
}

.sidebar h4 {
    font-weight: bold;
}

.btn {
    border-radius: 0;
    text-decoration: none;
}

em {
    font-style: italic;
}

.subtitle {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -10px;
    font-style: italic;
    font-size: 10pt;
}

hr {
    border-color: #999;
}

.post-stub h2 {
    font-size: 12pt;
    font-weight: bold;
}

.post-stub .date {
    color: #999;
    display: inline-block;
    min-width: 6rem;
}

.date {
    color: #999;
}

.date a {
    color: #999;
    text-decoration: underline;
}

.fa-rss {
    color: orange;
}
