# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Farid Zakaria's Blog
email: farid.m.zakaria@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  I'm a software engineer, father and wishful amateur surfer.
  If you've come seeking my political views; you've found the
  wrong <a href="https://fareedzakaria.com/">Fareed</a>.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://fzakaria.com" # the base hostname & protocol for your site, e.g. http://example.com
# Build settings
markdown: kramdown
sass:
  style: compressed
paginate: 10
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - LICENSE
  - README.md
  - Rakefile
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
collections:
  old_blog:
    output: true
github:
  source:
    branch: master
# Google Analytics
google_analytics: UA-35360900-1