<aside class="colophon" id="about">
  <img
    class="colophon__avatar"
    src="/assets/images/avatar-164.png"
    width="164"
    height="164"
    alt="A photo of my dog Moose"
    title="My dog Moose"
  >
  <div>
    <p class="colophon__bio">{{ site.description }}</p>
    <ul class="colophon__links">
      <li>
        <span class="key">github</span>
        <span class="val"><a href="https://github.com/fzakaria">fzakaria</a></span>
      </li>
      <li>
        <span class="key">linkedin</span>
        <span class="val"><a href="https://www.linkedin.com/in/fmzakari/">fmzakari</a></span>
      </li>
      <li>
        <span class="key">email</span>
        <span class="val"><a href="mailto:farid.m.zakaria@gmail.com">farid.m.zakaria@gmail.com</a></span>
      </li>
      <li>
        <span class="key">pgp</span>
        <span class="val"><a href="/publickey.txt">D1B232E7</a></span>
      </li>
      <li>
        <span class="key">resume</span>
        <span class="val">
          <a
            href="https://docs.google.com/document/d/e/2PACX-1vSUUDuMWGe5YnUnHU6bxhFQfcrZEt2ulXD4kbaALq267eMfoy8WFHiMNDosJbJJQFluiZugkfsijd6o/pub"
            >google doc</a
          >
        </span>
      </li>
      <li>
        <span class="key">talks</span>
        <span class="val"><a href="{{ '/talks' | relative_url }}">talks &amp; papers</a></span>
      </li>
      <li>
        <span class="key">archive</span>
        <span class="val"><a href="{{ '/old_blog/' | relative_url }}">wordpress blog</a></span>
      </li>
    </ul>
  </div>
</aside>
