<div class="post-stub">
    <h2>
      <span class="date hidden-xs">
        {{ include.post.date | date: "%Y-%m-%d" }}
      </span>
      <span class="title">
        {% if include.post._url %}
        <a href="{{ include.post._url }}" target="_blank">
          {{ include.post.title }}
          <i class="fa fa-external-link"></i>
        </a>
        {% else %}
        <a href="{{ include.post.url }}">{{ include.post.title }}</a>
        {% endif %}
      </span>
    </h2>
    {% if include.post._url %}
    {% else %}
    {{ include.post.excerpt }}
    {% endif %}
</div>
